
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
}

.container{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.header{
  text-align: center;
  align-content: center;
}

.user-editor{
  align-self: center;
  align-content: center;
}

.controls{
  align-self: center;
  align-content: center;
}

.tasklist{
  align-self: center;
  align-content: center;
}

.selected-task {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}



